
        <!-- Teal page content  -->
        <div class="valign-wrapper" style="margin-left: 50px; margin-right: 50px;">
          <div class="valign center-align full-width white-text text-darken-2">
            <span class="main-part" 
                  data-description="always present">
              {{jokes.displayedJoke.mainPart}}
            </span>
            <br>
            <span class="supporting-part" 
                  data-description="optional, some jokes may require it">
              {{jokes.displayedJoke.supportingPart}}
            </span>
          </div>
        </div>